[submodule "lib/tarp-require"]
	path = lib/tarp-require
	url = https://github.com/letorbi/smoothie.git
	branch = tarp
[submodule "lib/ace-builds"]
	path = lib/ace-builds
	url = https://github.com/ajaxorg/ace-builds/
[submodule "lib/ace"]
	path = lib/ace
	url = https://github.com/ajaxorg/ace
